@font-face {
    font-family: "Suisse Intl Regular";
    src: url(../assets/fonts/Suisse.ttf) format('ttf');
    font - weight: 400;
    font - style: normal
}

* {
    font-family: 'Suisse Intl Regular', sans-serif;
}

body {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    background-color: #fff;
    /*overflow-x: hidden;*/
    overflow: hidden;
    font-family: 'Suisse Intl Regular', sans-serif;
}

body * {
    -webkit-text-size-adjust: none;
}

.clear {
    clear: both;
    overflow: hidden;
    height: 0px;
    font-size: 0px;
    display: block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.form-group select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://image.flaticon.com/icons/svg/118/118738.svg) no-repeat;
    background-size: 22px;
    background-position: calc(100% - 8px) center;
    border: 1px solid #333 !important;
    border-radius: 0;
    border-color: #333;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #333;
    font-size: 12px;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
}


a,
a:link,
a:visited,
a:active,
a:hover {
    cursor: default;
    text-decoration: none;
    outline: none;
    color: #333;
}

a:focus,
a:hover {
    color: #333;
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Suisse Intl Regular', sans-serif;
}
p {
    line-height: 1.5;
}

.no-margin {
    margin: 0;
}

.width10 {
    width: 10% !important;
}

.width20 {
    width: 20% !important;
}

.width100 {
    width: 100% !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.p-0 {
    padding: 0 !important;
}

.p-5 {
    padding: 5px !important;
}
.p-7 {
    padding: 7px !important;
}
.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}
.m-l-30 {
    margin-left: 30px !important;
}
.m-r-5 {
    margin-right: 5px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.font10 {
    font-size: 10px !important;
}

.font11 {
    font-size: 11px !important;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.font16 {
    font-size: 16px !important;
}

.font17 {
    font-size: 17px !important;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px !important;
}

.bold-700 {
    font-weight: 700 !important;
}

.bold-600 {
    font-weight: 600 !important;
}

.displayblock {
    display: block !important;
}

.displaynone {
    display: none !important;
}
.visiblity
{
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 1;
}
.effect {
    visibility: visible;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.modal-content {
    border-radius: 0 !important;
}

.panel {
    border-radius: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}
.flex{
    display: inline-flex;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
    outline-offset: -2px;
}
.l-1{
    line-height: 1;
}
.nowrap{
    white-space: nowrap !important;
}
.bordernone{
    border:none !important;
}
.col-5 {
  width: 5%;
}

.col-10 {
  width: 10%;
}

.col-15 {
  width: 15%;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-30 {
  width: 30%;
}

.col-35 {
  width: 35%;
}

.col-40 {
  width: 40%;
}

.col-45 {
  width: 45%;
}

.col-50 {
  width: 50%;
}

.col-55 {
  width: 55%;
}

.col-60 {
  width: 60%;
}

.col-65 {
  width: 65%;
}

.col-70 {
  width: 70%;
}

.col-75 {
  width: 75%;
}

.col-80 {
  width: 80%;
}

.col-85 {
  width: 85%;
}

.col-90 {
  width: 90%;
}

.col-95 {
  width: 95%;
}

.col-100 {
  width: 100%;
}

.col-10,
.col-100,
.col-15,
.col-20,
.col-25,
.col-30,
.col-35,
.col-40,
.col-45,
.col-5,
.col-50,
.col-55,
.col-60,
.col-65,
.col-70,
.col-75,
.col-80,
.col-85,
.col-90,
.col-95 {
  float: left;
}
.logo h3 a {
    font-family: serif;
    font-size: 28px;
}
/*===================================================================================*/
/*  Checkbox & Radio Button
/*===================================================================================*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    width: 2em;
    height: 2em;
    float: left;
    margin-right: 1.5em;
    margin-top: -5px;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 1em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


/*===================================================================================*/
/*  Form Tags & button
/*===================================================================================*/

.form-control {
    border: 1px solid #333;
    border-radius: 0;
    border-color: #333;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #333;
    font-size: 12px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #222;
}

input::-webkit-input-placeholder {
    color: #333 !important;
    font-size: 12px;
}
option::-webkit-input-placeholder {
    color: #333 !important;
    font-size: 12px;
}
input:-moz-placeholder {
    /* Firefox 18- */
    color: #333 !important;
    font-size: 12px;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #333 !important;
    font-size: 12px;
}

input:-ms-input-placeholder {
    color: #333 !important;
    font-size: 12px;
}

.inputError {
    font-size: 12px;
    list-style: none;
    color: #f5707a;
    margin-top: 5px;
}

.inputField {
    border-color: #f5707a !important;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #333;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;

}
.btn-default:hover {
    color: #333;
    background-color: transparent;
    border-color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);  
}
.btn-default:focus, .btn-default.focus {
    color: #333;
    background-color: #fff;
    border-color: #333;
}
.btn-default.active {
    color: #333 !important;
    background-color: transparent !important;
    border-color: #333 !important;
}
.btn-transparent{
    background-color: transparent;
}
.btn-dark {
    color: #333;
    background-color: #D7DBC2;
    border-color: #333;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}
.btn-dark:hover {
    color: #333;
    background-color: #fff;
    border-color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);  
}

.btn-light {
    color: #333;
    background-color: #cddde0;
    border-color: #333;
}
.btn-green {
    color: #333;
    background-color: #D7DBC2;
    border-color: #333;
}
.btn-green:hover {
    color: #333;
    background-color: transparent;
    border-color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3); 
}
.btn-white {
    color: #333;
    background-color: #fff;
    border-color: #333;
}
.btn-pad{
    padding: 4px 45px;
}
.cs-pad{
    padding: 5px 65px;
}

/*=================================
Header & Footer Section
==================================*/

/* 01. Body Content Fixing */

.content-fix{
   /* height: 80vh;
   overflow-y: auto;*/
   /*height: calc(100% - 40vh);
   overflow-y: auto;*/
   overflow-y: scroll;
}

/* 01. Header */
header{

}
.header-top {
    padding: 5px 0;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #333;
}

.header-top-right {
    float: right;
}

.header-top-right ul li {
    margin-top: -10px;
    font-size: 12px;
    text-decoration: underline;
    letter-spacing: 0.2px;
    position: absolute;
    margin: -12px 40px;
}

/* 02. Footer */

#footer{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0;
    padding: 10px 30px;
    right: 0;
    background: #CDDDE0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99;
}

.footer {
    background: #CDDDE0;
    padding: 25px 0 15px;
    font-weight: 600;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: block;
}

/*=================================
menu Section
==================================*/

/* 03. menu */

.menu_section {
    width: 100%;
    margin-bottom: 40px;
}

ul.menu {
    display: table;
    height: 20px;
    line-height: 20px;
    position: relative;
    text-align: center;
    padding: 0;
    /*border-bottom: 1px solid #333;*/
    width: 80%;
    margin: 0 auto;
}
.menu2{
    width: 60% !important;
}

ul.menu li {
    float: none;
    display: inline-block;
    padding: 0 20px;
}

ul.menu li a {
    display: inline-block;
    width: auto;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    margin: 6px 0;
    transition: 0.3s;
    border-bottom: 1px solid #FFF;
    font-weight: 400;
}

ul.menu li a:hover {
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

ul.menu li a:hover {
    color: #000;
    font-weight: normal;
    transition: width .3s;
}

ul.menu a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #333;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

ul.menu a:hover:after {
    transform: scaleX(1);
}

ul.menu li a.active {
    color: #000;
    font-weight: 700;
    border-bottom: 1px solid #333;
}

ul.menu li:hover ul {
    background: #fff;
    width: 100%;
    visibility: visible;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 9;
}

.sub-menu.open {
    width: 100%;
    display: block;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    visibility: visible;
    z-index: 8;
}

.sub-menu {
    border-top: 1px solid #333;
}

ul.sub-menu {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    display: table;
    position: absolute;
    left: 0;
    height: 40px;
    line-height: 40px;
    z-index: 9;
}

ul.sub-menu li {
    display: inline-block;
    padding: 0 10px;
}

ul.sub-menu li:hover {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul.sub-menu li a {
    padding: 0;
}

ul.menu a,
ul.sub-menu a {
    color: #444;
}
ul.sub-menu li a.active {
    border-bottom: 1px solid #333;
}

ul.sub-menu li a:hover {
    transition: width .2s;
}

ul.sub-menu a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #333;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
}

ul.sub-menu a:hover:after {
    transform: scaleX(1);
}

/************Mixing*****************/
.wizard {
    padding: 22px 0;
    /*overflow: hidden;*/
    background: #F1E3D9;
    vertical-align: middle;
    margin-top: 0px;
    display: flex;
}
.spcust{
    padding:20px;
}
.wizard h3 {
    font-size: 17px;
    font-weight: 700;
}
hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #333;
}
.prev {
    font-size: 1.3rem;
    /*margin-left: 30px;*/
    font-weight: 600;
}

.next {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 30px;
}

.prev i {
    font-size: 2.6rem;
    position: absolute;
    margin-left: -35px;
    top: -5px;
}

.next i {
    font-size: 2.6rem;
    position: absolute;
    margin-left: 8px;
    top: -5px;
}
.company{
    border:1px solid #333;
    height: 300px;
    overflow-y: scroll;
}
.company h4 {
    background: #f1e3d9;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}
.company .list-group-item {
    word-break: break-all;
}
.company::-webkit-scrollbar {
    width: 9px;
}
.company::-webkit-scrollbar-thumb {
    min-height: 25px;
    background-color: #bbb;
    -webkit-box-shadow: inset 1px 1px 0 #aaa, inset 0 -1px 0 #aaa;
    box-shadow: inset 1px 1px 0 #aaa, inset 0 -1px 0 #aaa;
}
.company::-webkit-scrollbar-track {
    background-color: #eee;
}
.table .thead-dark th {
    color: #333;
    background-color: #F9F3F0;
    border-color: #F9F3F0;
    font-size: 12px;
    padding: 10px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #333;
    font-size: 12px;
    padding: 8px 20px;
}
/*.table-responsive {
    overflow: auto;
    min-height: 0.1%;
    width: 100%;
    }*/
    #accordion .panel{
        border: none;
        border-radius: 3px;
        box-shadow: none;
        margin-bottom: 15px;
    }
    #accordion .panel-heading{
        padding: 0;
        border: none;
        border-radius: 3px;
    }
    #accordion .panel-title a{
        display: block;
        padding: 12px 15px;
        background: #cddde0;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        position: relative;
        transition: all 0.5s ease 0s;
    }

    #accordion .panel-title a:before,
    #accordion .panel-title a.collapsed:before{
        content: "\e648";
        font-family: 'themify';
        width: 25px;
        height: 25px;
        line-height: 28px;
        font-size: 15px;
        font-weight: 900;
        color: #333;
        text-align: center;
        position: absolute;
        top: 8px;
        right: 15px;
        transform: rotate(0deg);
        transition: all 0.3s ease 0s;
    }
    #accordion .panel-title a.collapsed:before{
        color: #676767;
        transform: rotate(180deg);
    }
    #accordion .panel-title a:after{
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 55px;
    }
    #accordion .panel-body{
        padding: 0px 15px;
        border: none;
        font-size: 15px;
        color: #615f5f;
        line-height: 27px;
    }
    #accordion .panel{
        background-color: #cddde0;
    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        color: #333;
        background-color: #f1e3d9;
        border-color: #333;
    }
    div#customers_length {
      padding: 10px;
      margin-top: 10px;
  }
  div#customers_filter {
      padding: 10px;
      margin-top: 10px;
  }
  div#customers_info {
      padding: 15px;
  }
  div#customers_paginate {
      padding: 15px;
  }
  div#customers_length select {
    border: 1px solid #333;
    border-radius: 0;
    border-color: #333;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #333;
    font-size: 12px;
    height: 34px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* style glyph */
.inner-addon .ti-plus {
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.right-addon .ti-plus { 
    right: 0px;
    float: right;
    margin-top: -36px;
    color: #0c0c0c;
    font-size: 18px;
}

.datepicker>div {
    display: inherit;
}
/**********Supplier button style********/

.spbtn{
    width: 28%;
}
.spbtn2 {
    width: 27%;
}
.acbtn .btn{
    padding: 5px 45px;
}
#customers.table > tbody > tr > td{
    padding: 5px 10px 0 10px;
}

/************Mobile Menu***************/
.Headermobile {
  padding-top: 10px;
  /*border-bottom: 1px solid #ddd;*/
}

.Headermobile .toogle {
  top: 10px;
  left: 15px;
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
}

.Headermobile .name {
  float: left;
  height: 50px;
  padding: 0px 30px;
  line-height: 20px;
}

.Headermobile .name a {
  font-size: 2rem;
}

.Headermobile .name h6 {
  margin: 0;
}

.Headermobile .icons i {
  margin-top: 7px;
  padding: 0 8px 0 10px;
  float: right;
  font-size: 25px;
}

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #fff;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  /*margin-top: 0px;*/
  margin-top: -60px;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 50px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  left: 0;
  width: 250px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  overflow-x: hidden;
}

.canvi-user-info {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-cnt: left;
  background: #333;
  /*margin-bottom: 20px;*/
  position: relative;
}

.canvi-user-info__image {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  color: #333;
  font-size: 2.5rem;
  background: #fff;
  padding: 5px 7px;
}

.canvi-user-info img {
  max-width: 100%;
  height: auto;
}

.canvi-user-info__data {
  width: calc(100% - 70px);
}

.canvi-user-info__title {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  margin: 0 0 3px;
  line-height: 1.3em;
  display: block;
}

.canvi-user-info__meta {
    display: block;
    color: rgba(255, 255, 255, 0.7) !important;
    text-decoration: none;
    font-size: 14px;
}

.canvi-user-info__close {
  position: absolute;
  top: calc(50% - 30px);
  right: 0px;
  background: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.canvi-user-info__close::before {
  left: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.canvi-user-info__close::after {
  right: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.canvi-user-info__close::after,
.canvi-user-info__close::before {
  content: '';
  width: 20px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 18px;
}

.canvi-navigation {
  margin: 0;
  padding: 0;
  margin-top: 65px;
}

.navmenu-nav-new .user .user-icon {
  font-size: 23px;
  padding: 0 8px;
  background-color: #E57320;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  border: 8px solid #FF8C39;
}

.navmenu-nav-new {
  background-color: #eee;
}

.navmenu-nav-new li {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  font-family: 'Muli', sans-serif;
}

.navmenu-nav-new ul.nav.collapse.in li {
  padding: 0;
}

.navmenu-nav-new li a {
  -webkit-transition: .2s ease-In-Out;
  transition: .2s ease-In-Out;
  color: #333;
  padding: 20px 15px;
  top: -5px;
}

.navmenu-nav-new li ul.nav.collapse.in li {
  border: 0;
}

.navmenu-nav-new li ul.nav.collapse.in li a {
  margin-left: 48px;
  border-left: 1px solid #E1E1E1;
  -webkit-transition: .2s all ease-In-Out;
  transition: .2s all ease-In-Out;
  color: #000;
  font-size: 13px;
}

.navmenu-nav-new li ul.nav.collapse.in li a:before {
  content: '-';
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -16px;
  font-size: 30px;
  color: #E1E1E1;
}

.navmenu-nav-new li a:after {
  content: '';
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -23px;
  height: 30px;
  width: 30px;
}

.navmenu-nav-new li ul.nav.collapse.in li a::after,
li.services a::after {
  content: '';
  background: 0 0;
}

.navmenu-nav-new li a b {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.navmenu-nav-new .nav > li > a:focus,
.nav > li > a:hover {
  background-color: #fff;
}

.navmenu-nav-new li a p {
  margin-bottom: 0;
  font-size: 12px;
  margin-top: 5px;
  color: #828282;
}

.export .dropdown-menu{
 min-width: 100%;
 border-radius: 0;
 margin: 0 5px;
 /*position: relative;*/
 padding: 0;
}
.gobtn{
    padding: 7.5px 12px;
    width: 20%;
}
.filter-section
{
    padding: 10px;
    background: #F9F4EF;
    display: grid;
}
.filter-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.filter-section li {
    float: left;
}

.filter-section li a {
   display: block;
   color: #333;
   text-align: center;
   padding: 5px 10px;
   text-decoration: none;
   font-size: 12px;
   margin-top: 10px;
}

.filter-section .active {
    border-bottom: 1px solid #333;
    font-weight: 600;
}

.graphInfo{
    border: 2px solid #5d5a5a;
    padding: 5px 15px 0px;
}
.graphBorder{
    border: 2px solid #5d5a5a;
    padding: 5px 15px 0px;
}
.graphbd .list-group-item {
    border: 2px solid #5d5a5a;
    line-height: 1.5;
}
.graphbd .list-group-item b {
    font-size: 16px;
    display: block;
}
.graphbd .list-group-item span {
    font-size: 13px;
}
.graphbd .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.graphbd .list-group-item:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
/*****Dashboard****/
.dashblock{
    padding: 25px 25px;
    height: 100vh;
}
.dashboard h4{
    margin-bottom: 40px;
    font-weight: 600;
    height: 30px;
    line-height: 1.5;
}
.dashboard .bg1{
    background: #F1E3D9;
}
.dashboard .bg2{
    background: #FFE4DD;
}
.bg3 {
    background: #F8DED0;
}
.bg4 {
    background: #F8DED0;
}
.dashboard .bdright{
    border-right: 1px solid #fff;
}
.dashboard .bdright:last-child{
    border-right: none;
}
.dashboard .btn{
    padding: 5px 20px;
}
.dashboard .items p{
    padding: 5px 0px;
}

.btn-search {
   color: #333;
   position: relative;
   right: 10px;
   font-size: 1.2rem;
   float: right;
   margin-top: -20px;
}
.h-34{
    height: 34px;
}
.block70{
    height: 70px;
}
.customslt{
    padding: 6px 60px !important;
}
.supplier-pagination{
    position: fixed;
    right: 0;
    bottom: 95px;
    left: 0;
    z-index: 99;
    width: 100%;
    display: block;
}
.advsearch{
    color: #333;
    margin-top: 5px;
}